<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- Bootstrap Link -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css">
  <!-- Link to CSS file -->
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  <!-- Link to jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  
  <title>/r/Politics News</title>

</head>

  <body>
  <!-- Main handlebars body tag.  content from index and saved file gets placed here -->
    {{{ body }}}

    <script type="text/javascript" src="/app.js"></script>
  </body>

</html>